@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --color-bg-primary: hsl(0 0 5);
    --color-text-primary: hsl(0 0 95);

    --color-accent-primary: hsl(194 41.3% 39%);
    --color-accent-secondary: hsl(0 62.4% 18.1%);

    --color-sq-dark: #241a0f;
    --color-sq-light: #eedc97;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 100vw;
    min-height: 100vh;
}